<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Finance Manager: {% block title %}Home{% endblock %}</title>
  
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/financemanager.css" type="text/css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/pygments.css" type="text/css" />
  <link rel="alternate" href="/feeds/latest/" type="application/atom+xml" title="Feed of latest snippets" />
  {% block feeds %}{% endblock %}
  
  {% block extra_scripts %}{% endblock %}
  <script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/snippets.js"></script>
  <script type="text/javascript" language="javascript">
    $(function() {
      var snippet_completion = new Snippets.SnippetCompletion()
      snippet_completion.bind_listener('#id_q');
      
      if ($('#id_tags').length > 0) {
        var tag_completion = new Snippets.TagCompletion()
        tag_completion.bind_listener('#id_tags');
      }
    });
  </script>
</head>
<body class="{% block bodyclass %}snippets{% endblock %}">
  <div id="header">
    <h1>Finance Manager</h1>
    <div id="nav-main">
      <span>
        {% if user.is_authenticated %}
          Logged in as <a href="/users/{{ user.username }}/">{{ user.username }}</a> (<a href="accounts/logout/">Log out</a>)
        {% else %}
          <a href="accounts/login/?next={% ifequal request.path "/accounts/logout/" %}/{% else %}{{ request.path }}{% endifequal %}">Log in</a>
        {% endif %}
      </span>
      <ul>
        {% if user.is_authenticated %}
          <li id="nav-account"><a href="/users/{{ user.username }}/">You</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

 

  {% if messages %}
    {% for message in messages %}
      <div class="message {% if message.tags %} message_{{ message.tags }}{% else %}message_info{% endif %}">
        <h4>{{ message }}</h4>
      </div>
    {% endfor %}
  {% endif %}

  <h2>{% block content_header %}{% endblock %}</h2>
  <div id="content">
    <div id="main">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  
  <div id="footer">
    {% if user.is_authenticated %}
    <div class="chunk">
      <h3>Your account</h3>
      <ul>
        <li><a href="/users/{{ user.username }}/">User details</a></li>
        <li><a href="/accounts/logout/">Log out</a></li>
      </ul>
    </div>
    {% endif %}
    <div class="chunk">
      <h3>About</h3>
      <p>Powered by <a href="http://www.djangoproject.com/">Django</a>.</p>
    </div>
    <p id="copyright"></p>
  </div>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16402186-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>