media/*
sphinx/*
docs/doctrees/*
docs/latex/*
datafiles/*
dirhtml/*
openportfolioapp/fixtures/*
!initial_data.yaml
!media/admin/*
build
dist
MANIFEST
*.egg-info
distribute-*
*.db
*.pyc
*.swp
install/staging.*
install/production.*
install/development.*
install/org*
