media/*
sphinx/*
docs/doctrees/*
docs/latex/*
datafiles/*
financemanager/fixtures/*
initial_data.yaml
.gitignore
!media/admin/*
build
dist
MANIFEST
*.egg-info
distribute-*
*.db
*.pyc
*.swp
apache/staging.*
apache/production.*
