{% extends "admin/base_site.html" %}
{% block title %}Bulk Assign Splits{% endblock %}
{% block content %}
<div id="content-main">

    <h1>Splits</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
		{% for t in trans_list %}
		<input type="hidden" name="id" value="{{ t}}"/>
		{% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}