{% extends "base.html" %}
{% load openportfolioapp_extras %}

{% block title %}Investments{% endblock %}
{% block content %}

{% if investment_list %}


	<table>
		<thead></thead>
			<th>Investment</th>
			<th>Latest Price</th>
			<th>Price Data Range</th>
		<tbody>
			{% for i in investment_list %}
			
			<tr>
				<td>{{i.name}}</td>
				<td>{{i.latest_price}}</td>
				<td>{{i.latest_price_date}}</td>
				<td><a href="/admin/openportfolioapp/{{i.content_type.model}}/{{ i.id }}">Edit</a> | <a href="/openportfolioapp/investment/{{ i.id }}/report">Report</a></td>
			</tr>
			{% endfor %}
			
		</tbody>
	</table>

{% else %}
	No entries
{% endif %}
{% endblock %}