{% extends "openportfolioapp/base.html" %}
{% load openportfolioapp_extras %}

{% block title %}Investment Analysis{% endblock %}
{% block content %}

<h3>Summary</h3>
<table>
	<thead>
	
	</thead>
	<tbody>
	<tr>
		<th>Name</th>
		<td>{{ object.name }}</td>
	</tr>
	<tr>
		<th>Asset Class</th>
		<td>{{ object.asset_class.name }}</td>
	</tr>
	<tr>
		<th>Currency</th>
		<td>{{ object.currency.code }}</td>
	</tr>
	<tr>
		<th>Company</th>
		<td>{{ object.company.name }}</td>
	</tr>
	<tr>
		<th>Sector</th>
		<td>{{ object.company.gics_sector.name }}</td>
	</tr>
	<tr>
		<th>Last Price</th>
		<td>{{ object.latest_price|currency:object.currency.locale_code}} ({{object.latest_price_date|date:"d-M-Y"}})</td>
	</tr>
	<tr>
		<th>Mean Price</th>
		<td>{{ object.mean|currency:object.currency.locale_code }}</td>
	</tr>
	</tbody>
</table>

{% if object.content_type.model == 'listedequity' %}

<h3>Price Chart</h3>
{{object.investment_chart}}

{% endif %}

<h3>Price Table</h3>
{{object.price_table}}

{% endblock %}