{% extends "base.html" %}
{% load openportfolioapp_extras %}

{% block title %}Investment Analysis{% endblock %}
{% block content %}

<h3>Summary</h3>

<b>Name: </b>{{ object.name }}<br/>
<b>Company: </b>{{ object.company.name }}<br/>
<b>Asset Class: </b>{{ object.asset_class.name }}<br/>
<b>Sector: </b>{{ object.company.gics_sector.name }}<br/>
<b>Currency: </b>{{ object.currency.code }}<br/>
<b>Latest Price: </b>{{ object.latest_price|currency:object.currency.locale_code}} ({{object.latest_price_date|date:"d-M-Y"}})<br/>
<b>Mean: </b>{{ object.mean|currency:object.currency.locale_code }}<br/>
<b>Beta: </b>{{ object.beta }}<br/>


{% if object.content_type.model == 'listedequity' %}

<h3>Price Chart</h3>
{{object.investment_chart}}

{% endif %}

<h3>Price Table</h3>
{{object.price_table}}

{% endblock %}