{% load financemanager_extras %}
{% load pyformat %}

<table id="holdings_table">
	<thead>
		<th>Name</th>
		{% for f in fields %}
		{% if f.format == 'rc' %}
		<th>{{f.label}} ({{report_currency.code}})</th>
		{%else%}
		<th>{{f.label}}</th>
		{%endif%}
		{% endfor %}
	</thead>
	<tbody>
		
{% for i in df.index %}
{% dataframe_xs df,i as xs %}

	<tr>
		<td class="leftcol">{{i.name}}</td>
		{% for f in fields %}
		
		{% if f.format == 'lc' %}
			<td>{{xs|hash:f.key|currency:i.currency.locale_code}}</td>
		{%else%}
			{% if f.format == 'rc' %}
			<td>{{xs|hash:f.key|currency:report_currency.locale_code}}</td>
			{%else%}
			<td>{% pyformat xs|hash:f.key f.format %}</td>
			{%endif%}
		{%endif%}
		{% endfor %}
	</tr>
{%endfor%}
	</tbody>



	<tfoot>
	<tr class="totalrow">
		<td>TOTAL</td>
		{% for f in fields %}
		{% if f.total == None %}
		<td>&nbsp;</td>
		{%else%}
		{% if f.format == 'rc' %}
		<td>{{df|hash:f.key|call:f.total|currency:report_currency.locale_code}}</td>
		{%else%}
		<td>{% pyformat df|hash:f.key|call:f.total f.format %}</td>
		{%endif%}
		{%endif%}
		{% endfor %}
	
	</tr>
	</tfoot>
</table>



