{% extends "admin/base_site.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div id="content-main">


    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
		{% for myid in id_list %}
		<input type="hidden" name="id" value="{{ myid }}"/>
		{% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}