{% extends "admin/base_site.html" %}
{% block title %}Splits Analysis{% endblock %}
{% block content %}

<div id="content-main">
{% if budgets_list %}

{% regroup budgets_list by end_date|date:"M Y" as budgets_by_month %}

<ul>
{% for b in budgets_by_month %}
	<li>{{b.grouper}}
		<ul>
			{%for item in b.list%}
			<li><b>{{item.category.name}}</b> - Budget: {{item.amount}}, Actual: {{item.splits_sum}}</li>
			{%endfor%}
		</ul>
		
	
	</li>
{%endfor%}
</ul>
{%else%}
No items
{%endif%}
</div>
{% endblock %}