<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>OpenPortfolio: {% block title %}Home{% endblock %}</title>
  
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/openportfolioapp.css" type="text/css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/pygments.css" type="text/css" />
  <link rel="alternate" href="/feeds/latest/" type="application/atom+xml" title="Feed of latest snippets" />
  {% block feeds %}{% endblock %}
  
  {% block extra_scripts %}{% endblock %}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
<!-- start: two new lines for highcharts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}Highcharts/js/highcharts.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}Highstock/js/highstock.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}Highcharts/js/modules/exporting.js" type="text/javascript"></script>

<!-- end: two new lines for highcharts -->
</head>
<body class="{% block bodyclass %}snippets{% endblock %}">
  <div id="header">
    <h1>OpenPortfolio</h1>
    <div id="nav-main">
      <span>
        {% if user.is_authenticated %}
          Logged in as <a href="/users/{{ user.username }}/">{{ user.username }}</a> (<a href="/accounts/logout/">Log out</a>)
        {% else %}
          <a href="accounts/login/?next={% ifequal request.path "/accounts/logout/" %}/{% else %}{{ request.path }}{% endifequal %}">Log in</a>
        {% endif %}
      </span>
      <ul>
        {% if user.is_authenticated %}
          <li id="nav-account"><a href="/users/{{ user.username }}/">You</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

 

  {% if messages %}
    {% for message in messages %}
      <div class="message {% if message.tags %} message_{{ message.tags }}{% else %}message_info{% endif %}">
        <h4>{{ message }}</h4>
      </div>
    {% endfor %}
  {% endif %}

  <h2>{% block content_header %}{% endblock %}</h2>
  <div id="content">
    <div id="main">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  
  <div id="footer">
    {% if user.is_authenticated %}
    <div class="chunk">
      <h3>Your account</h3>
      <ul>
        <li><a href="/users/{{ user.username }}/">User details</a></li>
        <li><a href="/accounts/logout/">Log out</a></li>
      </ul>
    </div>
    {% endif %}
    <div class="chunk">
      <h3>About</h3>
      <p>Powered by <a href="http://www.djangoproject.com/">Django</a>.</p>
    </div>
    <p id="copyright"></p>
  </div>
</body>
</html>