{% extends "base.html" %}
{% block title %}Open Portfolio{% endblock %}
{% block content %}

<h3>Welcome</h3>
<p>Open Portfolio can be used to manage and monitor the returns and risks of a portfolio of investments such as listed equities and fixed income securities.</p>

<ul>
<li>View and analyse <a href="/openportfolioapp/investment">investments</a><br/></li>
<li>View and analyse your <a href="/openportfolioapp/portfolio">portfolios</a></li>
<li>Access the <a href="/admin/openportfolioapp">administration panel</a></li>
</ul>
{% endblock %}