{% extends "base.html" %}
{% block content %}
<script type="text/javascript">

// Generate 32 char random uuid 
function gen_uuid() {
    var uuid = ""
    for (var i=0; i < 32; i++) {
        uuid += Math.floor(Math.random() * 16).toString(16); 
    }
    return uuid
}


var freq = 1000; // freqency of update in ms
var uuid = gen_uuid(); // id for this upload so we can fetch progress info.
 $('#X-Progress-ID').val(uuid);
//var progress_url = "/update_progress/?X-Progress-ID="+$('#X-Progress-ID').val(); 

var progress_url = "{{progress_url}}"
// ajax view serving progress info

// Append X-Progress-ID uuid form action
//this.action += (this.action.indexOf('?') == -1 ? '?' : '&') + 'X-Progress-ID=' + uuid;


var $progress = $('<div id="upload-progress" class="upload-progress"></div>').


appendTo(document.getElementById("content")).append('<div class="progress-container"><span class="progress-info">loading 0%</span><div class="progress-bar"></div></div>');
        
// progress bar position
$progress.css({
    position: ($.browser.msie && $.browser.version < 7 )? 'absolute' : 'fixed',  
    left: '50%', marginLeft: 0-($progress.width()/2), top: '10%'
}).show();


function sethtml(div,content) 
{ 
var search = content; 
var script; 

while( script = search.match(/(<script[^>]+javascript[^>]+>\s*(<!--)?)/i)) 
{ 
search = search.substr(search.indexOf(RegExp.$1) + RegExp.$1.length); 

if (!(endscript = search.match(/((-->)?\s*<\/script>)/))) break; 

block = search.substr(0, search.indexOf(RegExp.$1)); 
search = search.substring(block.length + RegExp.$1.length); 

var oScript = document.createElement('script'); 
oScript.text = block; 
oScript.type = "text/javascript"

document.getElementsByTagName("head").item(0).appendChild(oScript); 
//document.getElementsById(div).appendChild(oScript);
} 

document.getElementById(div).innerHTML=content; 
}

// Update progress bar
function update_progress_info() {
    
	
     $.getJSON(progress_url, {'X-Progress-ID': uuid}, function(data, status){
         if (data) {
			 
			 var done = data.done
			 var msg = data.message
			 //
			 if (done == 1) {
				$progress.find('.progress-info').text('done')
				$progress.hide();
				sethtml('main',data.result);
				makechart();
				
			 } else {
				
				 $progress.show();
				 var progress = parseFloat(data.pct_progress);
	             var width = $progress.find('.progress-container').width()
	             var progress_width = width * progress;
	             $progress.find('.progress-bar').width(progress_width);
	             $progress.find('.progress-info').text('loading ' + parseInt(progress*100) + '%' + ' ' + msg);
			}
			
            
         }
         window.setTimeout(update_progress_info, freq); 
     });
	
 };

window.setTimeout(update_progress_info, freq);


</script>

{% endblock %}

