{% load pyformat %}

<div class="price-table">
<table id='price-table'>
	<thead>
		<tr>
			<th>Date</th>
			<th>Portfolio</th>
			<th>Return</th>
			<th>Benchmark</th>
			<th>Return</th>
			<th>Active Return</th>
		</tr>
	</thead>
	{% for p in prices %}
	<tr>
		<td>{{p.date|date:"M-Y"}}</td>
		<td>{% pyformat p.MVp "{0:.2f}" %}</td>
		<td>{% pyformat p.Rp format %}</td>
		<td>{% pyformat p.MVb "{0:.2f}" %}</td>
		<td>{% pyformat p.Rb format %}</td>
		<td>{% pyformat p.Ra "{0:.2f}" %}</td>
	</tr>
	{% endfor %}
</table>
</div>